nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
  width: 100vw;
  font-family: "Work Sans", sans-serif;
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}

nav > img {
  height: 50px;
}

nav > ul > img {
  width: 30vw;
  padding: 10vh 0 10px 0;
}

nav > button {
  margin-right: 10vw;
  background-color: transparent;
  border: 4px solid black;
  padding: 1rem 2rem;
  transition: 0.5s;
}

nav > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

nav > button:hover {
  cursor: pointer;
  border-style: groove;
}

.side-menu.hidden {
  transform: translate(100%);
}

.side-menu {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgb(0, 0, 0);
  color: white;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  line-height: 1.5em;
}

.side-menu > img {
  max-width: 60vw;
}
.side-menu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 40vw;
  list-style: none;
}

.side-menu li {
  padding: 1rem 0;
}

.side-menu a {
  color: rgb(160, 158, 158);
  text-decoration: none;
}

.side-menu a:hover {
  color: white;
  font-weight: 900;
}

.side-menu p {
  padding: 20px;
  font-size: 0.7em;
  padding-left: 30%;
  width: 100%;
}

.socialmedia-links {
  display: flex;
  width: 30%;
}
.socialmedia-links a {
  color: white;
  padding: 20%;
}
