.Delivery > div {
  height: 90vh;
  font-family: "Quicksand", sans-serif;
  color: #fd6363;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
